/* @use './layout.scss';
@use './homepage.scss';
@use './login.scss';
@use './register.scss';
@use './forgot-password.scss';
@use './password-reset.scss';
@use './list.scss';
@use './cart.scss';
@use './member.scss';
@use './detail.scss';
@use './order.scss';
@use './order-detail.scss';
@use './value.scss'; */
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
$color1: #005792;
$color2: #53cde2;
$color3: #d1f4fa;
$color4: #edf9fc;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: clip;
  scroll-behavior: smooth;
  font-family: "Uchen", serif;
  font-weight: 400;
  font-style: normal;
}

#layout {
  position: relative;
  min-height: 100dvh;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6rem;
    border-bottom: 1px solid #ccc;
    a[href="/"],
    img[alt="logo"],
    #function-link {
      height: 5dvh;
    }
    #filter-link {
      a {
        position: relative;
        text-decoration: none;
        color: black;
        outline: none;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 0%;
          height: 2px;
          background-color: black;
          transition: 0.2s;
        }

        &:hover::after,
        &:focus-visible::after {
          width: 100%;
        }
      }
    }
    #function-link {
      a > img,
      button > img {
        position: relative;
        top: 1dvh;
        height: 3dvh;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    #aside-menu-btn {
      position: relative; //讓z-index起作用
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      overflow-y: hidden; //避免旋轉時短暫跑出下拉卷軸
      z-index: 1;
      #aside-menu-pic {
        transition: 0.2s;
        &.rotated {
          rotate: 0.25turn;
        }
      }
    }
  }
  #image-slider {
    img {
      width: 100%;
      height: 50dvh;
      object-fit: cover;
      display: none;
      opacity: 0;
      transition-duration: 0.7s;
      &:first-child{
        display: inline;
        opacity: 1;
      }
    }
  }
  .title {
    text-align: center;
  }
  #breadcrumb{
    margin: 8px;
    display: flex;
    *{
      margin-inline: 2px;
      text-decoration: none;
      color: black;
    }
  }
  #collection-layout{
    display: flex;
    padding:8px;
    #order-and-type{
      display: flex;
      flex-direction: column;
      select{
        border: 1px solid #ccc;
        outline: none;
        padding: 3px 8px;
        &:focus{
          border: 2px solid #005792;
        }
      }
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  #products-layout{
    display: flex;
    justify-content: space-evenly;
    padding: 3px 8px;
    img{
     width: 450px;
     height: 400px;
     object-fit: cover;
    }
    #text{
      display: flex;
      flex-direction: column;
      align-items: center;
      *{
        margin-block: 3px;
      }
      #amount{
        input{
          padding: 3px;
          outline: none;
        border: 1px solid #ccc;
        &:focus{
          border: 2px solid #005792;
        }
        }
      }
      #buttons{
        #purchase-directly{
          background-color: #005792;
          color: white;
          font-size: 20px;
          padding: 3px 8px;
          border: none;
          cursor: pointer;
          &:hover{
            filter: brightness(1.1);
          }
        }
        #add-cart{
          background-color: #53cde2;
          color: white;
          font-size: 20px;
          padding: 3px 8px;
          border: none;
          cursor: pointer;
          &:hover{
            filter: brightness(1.1);
          }
        }
      }
    }
    
  }
  #introduction{
    font-size: 18px;
    width: 65ch;
    padding: 3px 8px;
  }
  .cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 30px;
    padding: 30px;
    .card{
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.1);
      a{
        text-decoration: none;
        img{
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        p{
          text-align: center;
          color: black;
          &.price{
            font-weight: 700;
          }
        }
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: $color1;
      font-size: 2rem;
      &.active {
        background-color: $color1;
        color: white;
      }
      &.disable {
        pointer-events: none; //不會有點擊觸發的事件
        color: $color2;
      }
    }
  }
  #popular-items-slider{
    position: relative;
    height: 50dvh;
    overflow: hidden;
    #slide-left {
      position: absolute;
      left: 1rem;
      top: calc(25dvh - 1rem);
      height: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      background-color: #53cde2;
      img {
        height: 2rem;
        width: 2rem;
        filter: invert(1);
      }
    }
    #slider {
      width: 920px;
      position: relative;
      left: calc(50% - 230px * 2);
      height: 50dvh;
      #cards {
        width: max-content;
        display: flex;
        align-items: center;
        height: 50dvh;
        transition: 0.3s;
        .card {
          transition: 0.3s;
          width: 200px;
          border-radius: 8px;
          box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.1);
          margin-inline: 15px;
          &:hover {
            scale: 1.1;
          }
          a{
            text-decoration: none;
            height: 65%;
            width: 100%;
            overflow-y: hidden;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .cover {
              height: 100%;
              width: 100%;
              transition: 0.3s;
              object-fit: contain;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            
            }
          
          }
          p{
            text-align: center;
            color: black;
            &.price{
              font-weight: 700;
            }
          }
        }
      }
    }

    #slide-right {
      position: absolute;
      right: 1rem;
      top: calc(25dvh - 1rem);
      height: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      background-color: #53cde2;
      img {
        height: 2rem;
        width: 2rem;
        filter: invert(1);
      }
    }
  }
  main{
    padding: 20px 80px;
    min-height: 85dvh;
    div{
      background-color: #d1f4fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        color: #005792;
      }
      p{
        line-height: 1.5;
        width: 65ch;
        font-size: 18px;
      }
    }
    #contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 85dvh;
      *{
        font-size: 20px;
      }
    }
    .auth-related{
      background-color: #d1f4fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80dvh;
      justify-content: center;
      *{
        margin-block: 3px;
      }
      #mode-switch{
        display: flex;
        background-color: #53cde2;
        border-radius: 16px;
        padding: 3px 8px;
        input[type='radio']{
          appearance: none;
          border: none;
          background: none;
          cursor: pointer;
          font-size: 20px;
      }
      #register{
        &:checked +.register{
          background-color: white;
        }
      }
      #login{
          &:checked +.login{
             background-color: white;
          }
      }     
      .register,.login{
          display: block;
          cursor: pointer;
          border-radius: 13px;
          padding: 3px 8px;
      }
      }
      .message{
        font-size: 18px;
      }
      input[type='text'],input[type='tel'],input[type='password'],input[type='email']{
        font-size: 20px;
        padding: 3px;
        outline: none;
        border: 1px solid #ccc;
        &:focus{
          border: 2px solid #005792;
        }
      }
      #buttons{
        display: flex;
        flex-direction: row;
        button{
          font-size: 20px;
          background-color: #005792;
          color: white;
          border: 1px solid #ccc;
          padding: 3px 8px;
        }
      }
    }
  }
  .checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85dvh;
   h1{
    font-size: 36px;
    font-weight: 700;
   }
   p{
   font-size: 28px;
   }
    img{
      max-width: 65ch;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5dvh;
    padding: 10px 6rem;
    background-color: $color1;
    #logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      img,
      p {
        filter: invert(1);
      }
      img {
        height: 5dvh;
      }
      #copyright {
        text-align: center;
      }
    }
    #inner-links{
      display: flex;
      a{
        text-decoration: none;
        color: white;
       margin: 3px;
      }
    }
    #outer-links{
      img
       {
        filter: invert(1);
        height: 5dvh;
      }
    }
   
  }
 
  #to-top {
    position: fixed;
    right: 2vw;
    bottom: 2dvh;
    background-color: $color2;
    border: none;
    width: 50px;
    height: 50px;
    overflow-y: hidden;
    padding: 5px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      filter: invert(1);
    }
  }
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  top: 0;
  height: 100dvh;
  width: 0;
  background-color: white;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
  box-shadow: 0 0 20px #666;
  &.active {
    width: 400px;
    opacity: 1;
    overflow-y: auto;
  }
  #cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    white-space: nowrap;
    #close-cart {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p{
      font-size: 30px;
      font-weight: 700;
    }
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-end:15px ;
      .item-detail{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5px;
        width: 100%;
        img{
          width: 30%;
          height: 70%;
          object-fit: cover;
        }
        .text{
          display: flex;
          flex-direction: column;
          width: 50%;
          h4{
            white-space: normal;
          }
          .remove-item{
            width: fit-content;
            background:none;
            border: none;
            color: black;
            cursor: pointer;
            font-size: 18px;
          }
        }
      }
      .amount-price{
        display: flex;
        justify-content: space-around;
        width: 100%;
        label{
          display: flex;
          align-items: center;
          input[type='number']{
            width: 8ch;
            padding: 3px 8px;
          }
        }
       
        span{
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    #total-price{
      display: none;
        justify-content: space-around;
        width: 100%;
        margin-block: 30px;
        span{
          width: 104.438px;
        }
        #total-price-number{
          font-size: 20px;
          font-weight: 700;
        }
    }
    #keep-shopping,#go-checkout{
      text-decoration: none;
      background-color: #005792;
      color: white;
      font-weight: 700;
      font-size: 18px;
      padding: 3px 8px;
      border: none;
      margin-block: 15px;
      cursor: pointer;
    }
    #go-checkout{
      display: none;
    }
  }
  #close-menu{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
  }
  a{
    text-decoration: none;
    color: black;
    text-align: center;
  }
}


:root:has(#login:checked){
 .register-related{
  display: none;
 }
 .login-related{
  display: inline;
 }
}
:root:has(#register:checked){
  .register-related{
    display: inline;
   }
   .login-related{
    display: none;
   }
}





@media screen and (max-width: 576px) {
  #layout {
    header {
      padding: 5px 0.5rem;
      #filter-link {
        a {
          display: none;
        }
      }
      #aside-menu-btn {
        display: inline;
      }
    }
    .cards-container{
      grid-template-columns: repeat(1,1fr);
    }
    #popular-items-slider {
      #slide-left {
        left: 0.25rem;
        top: calc(25dvh - 0.75rem);
        height: 1.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      #slide-right {
        right: 0.25rem;
        top: calc(25dvh - 0.75rem);
        height: 1.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      #slider {
        width: 230px;
        left: calc(50% - 230px * 0.5);
      }
    }
    #collection-layout{
      flex-direction: column;
      align-items: center;
      #order-and-type{
        h2{
          text-align: center;
        }
        h2.type,a{
          display: none;
        }
      }
    }
    .pagination {
      a{
        font-size: 1rem;
      }
     
    }
    #products-layout{
      flex-direction: column;
      img{
        align-self: center;
      }
      #text{
        align-items: flex-start;
      }
    }
    footer {
      padding: 0;
      flex-direction: column;
      :not(img) {
        margin: 5px;
      }
      #inner-links{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #layout {
    header {
      padding: 5px 1rem;
      #filter-link {
        a {
          display: none;
        }
      }
      #aside-menu-btn {
        display: inline;
      }
    }
    .cards-container{
      grid-template-columns: repeat(2,1fr);
    }
    #popular-items-slider {
      #slider {
        width: 460px;
        left: calc(50% - 230px * 1);
      }
    }
    #collection-layout{
      flex-direction: column;
      align-items: center;
      #order-and-type{
        h2{
          text-align: center;
        }
        h2.type,a{
          display: none;
        }
      }
    }
    .pagination {
      a{
        font-size: 1.2rem;
      }      
    }
    #products-layout{
      flex-direction: column;
      img{
        align-self: center;
      }
      #text{
        align-items: flex-start;
      }
    }
    footer {
      padding: 0;
      flex-direction: column;
      :not(img) {
        margin: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #layout {
    header {
      padding: 5px 1.5rem;
    }
    .cards-container{
      grid-template-columns: repeat(2,1fr);
    }
    #popular-items-slider {
      #slider {
        width: 460px;
        left: calc(50% - 230px * 1);
      }
    }
    #collection-layout{
      flex-direction: column;
      align-items: center;
      #order-and-type{
        h2{
          text-align: center;
        }
        h2.type,a{
          display: none;
        }
      }
    }
    .pagination {
      a{
        font-size: 1.5rem;
      }
   
    }
    #products-layout{
      flex-direction: column;
      img{
        align-self: center;
      }
      #text{
        align-items: flex-start;
      }
    }
    footer {
      padding: 10px 1.5rem;
      #inner-links{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  #layout {
    header {
      padding: 5px 3rem;
    }
    #popular-items-slider {
      #slider {
        width: 690px;
        left: calc(50% - 230px * 1.5);
      }
    }
    footer {
      padding: 10px 3rem;
    }
  }
}
